* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #f4f4f4;
}
.container {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.course-main {
  box-shadow: 0 8px 5px #ccc;
  border-radius: 10px;
  padding: 3rem 1.5rem 2rem;
  width: 520px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.course-main input {
  width: 100%;
  margin: 8px 0;
  padding: 10px 5px;
  outline: none;
}
.course-main.error input {
  background-color: rgb(255, 191, 191);
  border: 1px solid red;
}
.red {
  border: 2px solid red;
}
.btn {
  font-size: 17px;
  color: white;
  padding: 8px 20px;
  background-color: #a1005e;
  border: none;
}

h3 {
  padding: 10px 20px;
  background-color: #a1005e;
  color: #fff;
  width: 520px;
  font-weight: lighter;
  margin: 5px;
}
.course-main.error h1 {
  color: red;
}
